/* /*.modal__content {
  visibility: visible;
}
.modal__content_type_image {
  visibility: visible;
} */

/* Desktop View */
.modal__image {
  width: 498px;
  height: 498px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card__delete {
  width: 101px;
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "Cabinet Grotesk";
  color: orange;
  cursor: pointer;
  border: none;
  margin-left: 365px;
}

/* Tablet View */
@media screen and (max-width: 768px) {
  .modal__image {
    width: 90vw;
    height: auto;
    max-width: 498px;
    max-height: 90vh;
  }

  .card__delete {
    margin-left: auto;
    margin-right: 20px;
  }
}

/* Mobile View */
@media screen and (max-width: 480px) {
  .modal__image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 80vh;
  }

  .card__delete {
    width: auto;
    margin-left: auto;
    margin-right: 12px;
    font-size: 18px;
    line-height: 22px;
  }
}
